<h1 class="mb-4 text-light">Members</h1>

<div class="list-group font-weight-bolder" >
  <% @users.each do |user| %>
    <%= link_to user.name, user_path(user), class: "list-group-item list-group-item-action font-weight-bolder" %>
  <% end %>
</div>
